<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./templates/common/head.ejs')%>
</head>
<body>
<%- include('./templates/common/header.ejs')%>
<% if(page === 'profile'){%>
<%- include('./templates/profile/index.ejs')%>
<%}else if(page === 'mails'){%>
<%- include('./templates/mails/list.ejs')%>
<%}else if(page === 'mail'){%>
<%- include('./templates/mails/index.ejs')%>
<%}%>
</body>
</html>
